/* Sentinel One font */
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  box-shadow: 0 1px 2px 0 #b2b2b266;
}

/* remove the spin boxes for numeric form inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* range thumb slider */
input[type="range"]::-webkit-slider-thumb {
  background: #6101FF !important;
}

.align-center{
  justify-content:center;
}

.data-edit-label {
  font-weight: 600;
}

.admin-panel-header {
  font-size: x-large;
}

.data-edit-update {
  max-width: 100px;
}

.card-header {
  font-size: large;
}

.input-mono {
  font-family: monospace;
}

/* Table Widgets */

.tableitem-header{
  font-size: 2.5em;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}

/* Result widget size overrides */
.result-label-sm {
  font-size: 1.2em;
  text-align: center;
  font-weight: bolder;
}

.result-lg{
  font-size: 1.5em;
}

.result-xl{
  font-size: 2.5em;
  font-weight: 800;
}

.result-input {
  width: 30%;
}

/* Table columns */
.category-table-numeric {
  min-width: 40px;
  max-width: 60px;
}

.category-table-description {
  max-width: 200px;
}

.category-header-center {
  text-align: center;
}

.category-header-left {
  text-align: left;
}

/* Sentinel One color/style overrides */

.bg-sentinel-one{
  background-color: #6101FF;
}

.bg-sentinel-one:hover {
  background-color: #824CDA;
}

.accordion-button {
  font-size: x-large;
  font-weight: bold;
  text-shadow: 1px 1px 2px #6101FF;
}

.accordion-button::after {
  color: #fff
}

.accordion-button.collapsed {
  background-color: #D7C0FC;
  color: #fff;
}

.accordion-button:not(.collapsed) {
  background-color: #B385FF;
  color: #fff;
}

.nav-link {
  font-weight: 500;
  color: #6101FF;
}

.nav-link sentintel-one {
  font-weight: 500;
  color: #6101FF;
}

.nav {
  --bs-nav-link-hover-color: #824CDA;
}

.result-sticky {
  top: 90px;
}


/* Experimental Stuff  */

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-    input:focus {
  border-color: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color auto 5px;
}